.idea
.nx
.angular
.nx/workspace-data/project-graph.json
.nx/workspace-data/nx_files.nxt
.nx/workspace-data/file-map.json
.nx/workspace-data/d/daemon.log
.nx/workspace-data/CC887BE4-F4B2-5FBF-9F3D-6FB2CFEFFD55.db
