:host {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;

  border: var(--light-border);
  width: 100%;
}
