@use 'fonts' as *;
@use 'margins' as *;
@import '../../../node_modules/@ctrl/ngx-emoji-mart/picker.css';

* {
  scrollbar-width: thin;
  scrollbar-color: #ae7aff transparent;
}
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #ae7aff;
}
*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
  border: 3px solid #ae7aff;
}

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --grey-color: #5f646d;
  --dark-hover-color: #161616;
  --light-dark-hover-color: #242424;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
  --dark-transparent-color: rgba(0, 0, 0, 0.75);
  --light-red-color: #e99898;
  --light-border: 1px solid var(--light-color);
  --primary-border: 1px solid var(--primary-color);
  --message-color: #404040;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  background-image: url(/assets/images/bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}

.medium-text {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.regular {
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  font-style: normal;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  font-style: normal;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.skill-tag {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: flex;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
  text-transform: uppercase;
}

.btn {
  width: 100%;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  &:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--grey-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.tt-control-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  display: block;
}

.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-color);
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tt-form-label__text {
  color: var(--light-transparent-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.tt-form-input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--light-color);
  border: none;
  border-bottom: 1px solid var(--light-color);
  border-radius: 2px;
  background: transparent;
  height: 33px;

  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}
.tt-form__textarea {
  height: 84px;
  resize: none;
}

.hovert {
  border-bottom: 1px solid transparent;
  &:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
  }
}

.hoverbg {
  &:hover {
    border-radius: 2px;
    background: var(--dark-hover-color);
  }
}

.btn-post-other {
  color: var(--light-color);
  background: none;
  border: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  &:hover,
  &:focus {
    .post-other__svg {
      color: var(--primary-color);
    }
  }
}
